.Dashboard {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

section.miniProfile {
  border: 3px solid green;
  display: flex;
  width: 50%;
  img.avatar {
    width: 120px;
    height: 120px;
    border-radius: 100px;
  }
}

.profileDetails {
  display: flex;
  flex-direction: column;

  .bottomRow {
    display: flex;
    img {
      width: 35px;
    }

    .dataPoint {
      display: flex;
      align-items: center;
    }
  }
}

section.miniStats {
  border: 3px solid blue;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40px 40px 40px 40px;
  width: 50%;

  .A {
    grid-column: 1;
  }
  .B {
    grid-column: 2;
  }
  .C {
    grid-column: 3;
  }
  .D {
    grid-column: 4;
  }

  .follow-btn {
    grid-column: 3 / span 2;
    width: 188px;
  }
}
